USE [master]
GO
/****** Object:  Database [gMapDB]    Script Date: 07.08.2022 2:16:45 ******/
CREATE DATABASE [gMapDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gMapDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\gMapDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gMapDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\gMapDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gMapDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gMapDB]
GO
/****** Object:  Table [dbo].[Markers]    Script Date: 07.08.2022 2:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Markers] ON 

INSERT [dbo].[Markers] ([id], [Latitude], [Longitude]) VALUES (1, 55.02644780788885, 83.049087524414062)
INSERT [dbo].[Markers] ([id], [Latitude], [Longitude]) VALUES (2, 55.040024156052944, 83.068313598632812)
INSERT [dbo].[Markers] ([id], [Latitude], [Longitude]) VALUES (3, 55.03786011889639, 83.061447143554688)
SET IDENTITY_INSERT [dbo].[Markers] OFF
USE [master]
GO
